<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan 1</title>

    <style>
        .body {
            margin: 5%;
        }

        .active {
            background-color: paleturquoise;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <h3>{{ fullname }}</h3>
        <p>
            {{ subtitle }}
            <button v-on:click='greet'>Click Me</button>
        </p>

        <form>
            <input type="text" v-model='subtitle'>
            <button v-on:click.prevent=''>Input</button>
        </form>

        <hr>

        <button v-on:click='handleClick'>+1</button>
        <span>Bilangan {{ inputNum }} adalah Bilangan <strong>{{ oddOrEven }}</strong></span>

        <hr>

        <button v-on:click='isShowed = !isShowed'>Show Image</button>

        <!-- <img v-bind:src="image"> -->
        <div v-if='isShowed'>
            <img v-for='image in images' v-bind:src="image">
        </div>

        <p v-else>Image is hidden</p>

        <hr>

        <a href="#" v-bind:class="{active: menu === 'home'}" v-on:click.prevent="handleNav('home')">Home</a>
        <a href="#" v-bind:class="{active: menu === 'about'}" v-on:click.prevent="handleNav('about')">About</a>
        <a href="#" v-bind:class="{active: menu === 'blog'}" v-on:click.prevent="handleNav('blog')">Blog</a>

        <hr>

        <p>
            <label><input type="checkbox" value="Angular" v-model='kelas'>Angular</label>
            <label><input type="checkbox" value="React" v-model='kelas'>React</label>
            <label><input type="checkbox" value="Vue" v-model='kelas'>Vue</label>
        </p>

        <p>Pilihan kelas:</p>
        <ul>
            <li v-for='(k, index) in kelas'>{{ index + 1 }} - {{ k }}</li>
        </ul>

        <hr>

        <h3>Perulangan</h3>
        <ul>
            <li v-for='i in 5'>{{ i }}</li>
        </ul>

        <hr>

        <h3>Tampilkan Bilangan Genap dari {{ numbers }}</h3>
        <ul>
            <li v-for='i in getEvenNum()'>{{ i }}</li>
        </ul>

        <hr>

        <h2>{{ textInput }}</h2>
        <form v-on:keyup.enter='handleSubmit'>
            <input type="text">
            <button v-on:click.prevent='handleSubmit'>Submit</button>
        </form>
    </div>

    <!-- Vue js Link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- JS Link -->
    <script src="app.js"></script>
</body>

</html>