<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vue.js</title>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- CSS Link -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <!-- App 1 -->
    <div id="app">{{message}}</div>

    <!-- App 2 -->
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>

    <!-- App 3 -->
    <div id="app-3">
      <span v-if="seen"> Now you see me </span>
    </div>

    <!-- App 4 -->
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{todo.text}}</li>
      </ol>
    </div>

    <!-- App 5 -->
    <div id="app-5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Click to Reverse Message</button>
    </div>

    <!-- App 6 -->
    <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message" />
    </div>

    <script src="app.js"></script>
  </body>
</html>
